In [40]:
#*********************PART 11*******************

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Fortune_5.csv")
df

   ID             Name           Companies  Profit Growth
0   1          Lamtone         IT Services     NaN    30%
1   2        Stripfind  Financial Services     NaN    NaN
2   3  Canecorporation                 NaN     NaN     7%
3   4              NaN         IT Services     NaN     7%

In [3]:
df.fillna(0)

   ID             Name           Companies  Profit Growth
0   1          Lamtone         IT Services     0.0    30%
1   2        Stripfind  Financial Services     0.0    20%
2   3  Canecorporation              Health     0.0     7%
3   4                0         IT Services     0.0     7%

In [4]:
#nan is fill with 0 now

In [5]:
df.fillna(2)

   ID             Name           Companies  Profit Growth
0   1          Lamtone         IT Services     2.0    30%
1   2        Stripfind  Financial Services     2.0    20%
2   3  Canecorporation              Health     2.0     7%
3   4                2         IT Services     2.0     7%

In [6]:
#u wanna fill specific column with different values then will use dictionary

In [7]:
df.fillna({'Name':'none','Profit':0,'Growth':0})

   ID             Name           Companies  Profit Growth
0   1          Lamtone         IT Services     0.0    30%
1   2        Stripfind  Financial Services     0.0    20%
2   3  Canecorporation              Health     0.0     7%
3   4             none         IT Services     0.0     7%

In [8]:
#df.fillna(
#   value: 'object | ArrayLike | None' = None,
#  method: 'FillnaOptions | None' = None,
# axis: 'Axis | None' = None,
#    inplace: 'bool' = False,
#    limit=None,
#   downcast=None,)

In [9]:
#Let's use different parameters of fillna

In [10]:
#next is method we are done with values

In [11]:
df.fillna(method='ffill')#it is forward fill (fill previous value in it)

   ID             Name           Companies  Profit Growth
0   1          Lamtone         IT Services     NaN    30%
1   2        Stripfind  Financial Services     NaN    20%
2   3  Canecorporation              Health     NaN     7%
3   4  Canecorporation         IT Services     NaN     7%

In [12]:
# u can use pad in place of ffill as well

In [14]:
df.fillna(method='pad')#giving same output as ffill

   ID             Name           Companies  Profit Growth
0   1          Lamtone         IT Services     NaN    30%
1   2        Stripfind  Financial Services     NaN    20%
2   3  Canecorporation              Health     NaN     7%
3   4  Canecorporation         IT Services     NaN     7%

In [15]:
#bfill filling forward value to that particular value

In [16]:
df.fillna(method='bfill')
df

   ID             Name           Companies  Profit Growth
0   1          Lamtone         IT Services     NaN    30%
1   2        Stripfind  Financial Services     NaN    20%
2   3  Canecorporation              Health     NaN     7%
3   4              NaN         IT Services     NaN     7%

In [17]:
df=pd.read_csv("Fortune_5.csv")
df

   ID             Name           Companies  Profit Growth
0   1          Lamtone         IT Services     NaN    30%
1   2        Stripfind  Financial Services     NaN    NaN
2   3  Canecorporation                 NaN     NaN     7%
3   4              NaN         IT Services     NaN     7%

In [21]:
df.fillna(method='ffill')

   ID             Name           Companies  Profit Growth
0   1          Lamtone         IT Services     NaN    30%
1   2        Stripfind  Financial Services     NaN    30%
2   3  Canecorporation  Financial Services     NaN     7%
3   4  Canecorporation         IT Services     NaN     7%

In [23]:
df.fillna(method='bfill')

   ID             Name           Companies  Profit Growth
0   1          Lamtone         IT Services     NaN    30%
1   2        Stripfind  Financial Services     NaN     7%
2   3  Canecorporation         IT Services     NaN     7%
3   4              NaN         IT Services     NaN     7%

In [24]:
#u can now see the difference between ffill and bfill

In [27]:
df.fillna(axis=0)
#Must specify a fill 'value' or 'method' u have to use it with value / method otherwise it gives error

<class 'ValueError'>: Must specify a fill 'value' or 'method'.

In [29]:
df.fillna(method='ffill',axis=1)#previous column value should be fill to next column value

,ID,Name,Companies,Profit,Growth
0,1,Lamtone,IT Services,IT Services,30%
1,2,Stripfind,Financial Services,Financial Services,Financial Services
2,3,Canecorporation,Canecorporation,Canecorporation,7%
3,4,4,IT Services,IT Services,7%

In [30]:
df.fillna(method='ffill',axis=0)

   ID             Name           Companies  Profit Growth
0   1          Lamtone         IT Services     NaN    30%
1   2        Stripfind  Financial Services     NaN    30%
2   3  Canecorporation  Financial Services     NaN     7%
3   4  Canecorporation         IT Services     NaN     7%

In [31]:
df.fillna(method='bfill',axis=1)

  ID             Name           Companies Profit Growth
0  1          Lamtone         IT Services    30%    30%
1  2        Stripfind  Financial Services    NaN    NaN
2  3  Canecorporation                  7%     7%     7%
3  4      IT Services         IT Services     7%     7%

In [33]:
#next parameter is limit (how many value should fill)

In [35]:
df.fillna(0,limit=1)#u can see in profit column only one value filled with 0

   ID             Name           Companies  Profit Growth
0   1          Lamtone         IT Services     0.0    30%
1   2        Stripfind  Financial Services     NaN      0
2   3  Canecorporation                   0     NaN     7%
3   4                0         IT Services     NaN     7%

In [36]:
#let's increase limit

In [37]:
df.fillna(method='ffill',limit=1)

   ID             Name           Companies  Profit Growth
0   1          Lamtone         IT Services     NaN    30%
1   2        Stripfind  Financial Services     NaN    30%
2   3  Canecorporation  Financial Services     NaN     7%
3   4  Canecorporation         IT Services     NaN     7%

In [39]:
#next parameter inplace 
df.fillna(5,inplace=True)
df

   ID             Name           Companies  Profit Growth
0   1          Lamtone         IT Services     5.0    30%
1   2        Stripfind  Financial Services     5.0      5
2   3  Canecorporation                   5     5.0     7%
3   4                5         IT Services     5.0     7%

In [41]:
#********************PART 12***************

In [43]:
#Values to dataframe are replaced with other values dynamically by using ''''replace '''' function

In [2]:
import pandas as pd
df=pd.read_csv("Fortune_10.csv")
df

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,No,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Yes,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,Yes,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,No,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,No,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [5]:
df.replace()

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,No,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,7%
5,6,Yes,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,7%
6,7,Yes,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,7%
7,8,No,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,No,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [6]:
#df.replace(
#   to_replace=None,
#  value=<no_default>,
# inplace: 'bool' = False,
#limit=None,
#regex: 'bool' = False,
#method: 'str | lib.NoDefault' = <no_default>,)

In [7]:
#to replace with the value

In [8]:
df.replace(to_replace='Health',value='Finance')

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Finance,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,No,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Yes,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,Yes,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,No,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,No,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [9]:
#this are 1st and 2 nd parameter so u can give it's value directly

In [10]:
df.replace('Health','Finance')

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Finance,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,No,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Yes,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,Yes,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,No,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,No,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [11]:
#u can see both dataset are same

In [12]:
df.replace(10,15)

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,No,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Yes,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,Yes,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,No,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,15,No,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [13]:
#u can replace multiple  values of single column into one value

In [14]:
df.replace([1,2,3,4,5,6,7,8,9,10],0)

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,0,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,0,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,0,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,0,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,0,No,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,0,Yes,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,0,Yes,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,0,No,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,0,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,0,No,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [15]:
#u can replace that multiple value into other multiple value

In [16]:
df.replace([1,2,3,4,5,6,7,8,9,10],[11,12,13,14,15,16,17,18,19,20])

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,11,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,12,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,13,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,14,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,15,No,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,16,Yes,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,17,Yes,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,18,No,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,19,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,20,No,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [17]:
#if u wanna replace one col particular value

In [18]:
df.replace({'Industry':'IT Services'},'infor indus')

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,infor indus,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,infor indus,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,No,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Yes,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,Yes,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,No,Kayelectronics,infor indus,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,infor indus,2011,"$14,001,180",NaN,11901180,18%
9,10,No,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [19]:
#u can give multiple columns

In [20]:
df.replace({'Industry':'IT Services','Name':'Techdrill'},'infor indus')

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,infor indus,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,infor indus,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,No,infor indus,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Yes,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,Yes,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,No,Kayelectronics,infor indus,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,infor indus,2011,"$14,001,180",NaN,11901180,18%
9,10,No,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [24]:
#regex(regular expression) is used to convert all strings into integer here i.e.zero
df.replace('[A-Za-z]',0,regex=True)

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,0,0,0.0,2009,"$11,757,018",0.0,5274553,30%
1,2,0,0,0.0,2010,"$12,329,371",0.0,11412916,20%
2,3,0,0,0.0,2012,"$10,597,009",0.0,3005820,7%
3,4,0,0,0.0,2013,"$14,026,934",0.0,6597557,7%
4,5,0,0,NaN,2009,"$10,573,990",0.0,3138627,NaN
5,6,0,0,NaN,2006,"$13,898,119",0.0,8427816,NaN
6,7,0,0,NaN,2010,"$9,254,614",0.0,3005116,NaN
7,8,0,0,0.0,2009,"$9,451,943",0.0,5573830,4%
8,9,0,0,0.0,2011,"$14,001,180",NaN,11901180,18%
9,10,0,0,0.0,2011,"$11,088,336",0.0,5453060,7%

In [23]:
#if u wanna replace in one column
df.replace({'Industry':'[A-Za-z]'},0,regex=True)

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,0.0,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,0.0,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,0.0,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,0.0,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,No,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Yes,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,Yes,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,No,Kayelectronics,0.0,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,0.0,2011,"$14,001,180",NaN,11901180,18%
9,10,No,Trantraxlax,0.0,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [25]:
#method parameter i.e pad,ffill,bfill
#with method u should give to_replace value
df.replace('Health',method='ffill')

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Financial Services,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,No,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Yes,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,Yes,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,No,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,No,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [26]:
df.replace('Health',method='bfill')

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,IT Services,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,No,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Yes,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,Yes,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,No,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,No,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [28]:
#limit how many values replace
df.replace('IT Services',method='bfill',limit=1)

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,Financial Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,NaN,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,No,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Yes,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,Yes,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,No,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,Government Services,2011,"$14,001,180",NaN,11901180,18%
9,10,No,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [29]:
df.replace('IT Services',method='bfill',limit=2)

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,Financial Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,NaN,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,No,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Yes,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,Yes,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,No,Kayelectronics,Government Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,Government Services,2011,"$14,001,180",NaN,11901180,18%
9,10,No,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [30]:
#For above 2 u can see the difference in industry col

In [31]:
df

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,No,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Yes,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,Yes,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,No,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,No,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [32]:
#when u are using functions it's creating copy of dataframe and when u call it prints original dataframe

In [33]:
#if u wanna modify it we are using inlace=True

In [3]:
df.replace(1,100,inplace=True)
df

,ID,Date,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,100,Yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,No,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627,NaN
5,6,Yes,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,Yes,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",3005116,NaN
7,8,No,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,No,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [4]:
#*******************PART 13************************

In [6]:
#interpolate ****Pandas Interpolate function is basically used to fill NaN values in dataframe or series***

In [7]:
#before this we used fillna function to fill Nan values

In [8]:
#but this function is very powerful than fillna

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('student_10.csv')
df

         Date  Student ID  Class Section  Study hrs  Percentage
0  01-07-2019      1001.0     10       A        2.0        50.0
1  02-07-2019      1002.0     10     NaN        NaN        80.0
2  03-07-2019         NaN     10     NaN        3.0        60.0
3  06-07-2019         NaN     11     NaN        0.0         NaN
4  07-07-2019      1005.0     11       A        4.0         NaN
5  08-07-2019         NaN     11       D       10.0         NaN
6  09-07-2019      1007.0     12       B        4.0        80.0
7  10-07-2019      1008.0     12       C        NaN        90.0
8  11-07-2019      1009.0     12       A        NaN        60.0
9  12-07-2019      1010.0     12       D        6.0        85.0

In [13]:
df.interpolate()

         Date  Student ID  Class Section  Study hrs  Percentage
0  01-07-2019      1001.0     10       A   2.000000        50.0
1  02-07-2019      1002.0     10     NaN   2.500000        80.0
2  03-07-2019      1003.0     10     NaN   3.000000        60.0
3  06-07-2019      1004.0     11     NaN   0.000000        65.0
4  07-07-2019      1005.0     11       A   4.000000        70.0
5  08-07-2019      1006.0     11       D  10.000000        75.0
6  09-07-2019      1007.0     12       B   4.000000        80.0
7  10-07-2019      1008.0     12       C   4.666667        90.0
8  11-07-2019      1009.0     12       A   5.333333        60.0
9  12-07-2019      1010.0     12       D   6.000000        85.0

In [14]:
#by data visulazing it is guessing the values u can see above in student id and percentage

In [15]:
#it's only guessing numeric value not string

In [16]:
#Let's understand it's parameter

In [18]:
df.interpolate(method='linear')#giving same result

         Date  Student ID  Class Section  Study hrs  Percentage
0  01-07-2019      1001.0     10       A   2.000000        50.0
1  02-07-2019      1002.0     10     NaN   2.500000        80.0
2  03-07-2019      1003.0     10     NaN   3.000000        60.0
3  06-07-2019      1004.0     11     NaN   0.000000        65.0
4  07-07-2019      1005.0     11       A   4.000000        70.0
5  08-07-2019      1006.0     11       D  10.000000        75.0
6  09-07-2019      1007.0     12       B   4.000000        80.0
7  10-07-2019      1008.0     12       C   4.666667        90.0
8  11-07-2019      1009.0     12       A   5.333333        60.0
9  12-07-2019      1010.0     12       D   6.000000        85.0

In [4]:
df.interpolate(method='time')
#time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

<class 'ValueError'>: time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

In [21]:
type(df.Date[0])

str

In [23]:
#we need to convert it into date-time datatype

In [24]:
df=pd.read_csv('student_10.csv',parse_dates=['Date'])
df

        Date  Student ID  Class Section  Study hrs  Percentage
0 2019-01-07      1001.0     10       A        2.0        50.0
1 2019-02-07      1002.0     10     NaN        NaN        80.0
2 2019-03-07         NaN     10     NaN        3.0        60.0
3 2019-06-07         NaN     11     NaN        0.0         NaN
4 2019-07-07      1005.0     11       A        4.0         NaN
5 2019-08-07         NaN     11       D       10.0         NaN
6 2019-09-07      1007.0     12       B        4.0        80.0
7 2019-10-07      1008.0     12       C        NaN        90.0
8 2019-11-07      1009.0     12       A        NaN        60.0
9 2019-12-07      1010.0     12       D        6.0        85.0

In [26]:
type(df.Date[0])#it's now change to date time datatype

pandas._libs.tslibs.timestamps.Timestamp

In [27]:
#Let's change default index with date column

In [28]:
df=pd.read_csv('student_10.csv',parse_dates=['Date'],index_col='Date')
df

            Student ID  Class Section  Study hrs  Percentage
Date
2019-01-07      1001.0     10       A        2.0        50.0
2019-02-07      1002.0     10     NaN        NaN        80.0
2019-03-07         NaN     10     NaN        3.0        60.0
2019-06-07         NaN     11     NaN        0.0         NaN
2019-07-07      1005.0     11       A        4.0         NaN
2019-08-07         NaN     11       D       10.0         NaN
2019-09-07      1007.0     12       B        4.0        80.0
2019-10-07      1008.0     12       C        NaN        90.0
2019-11-07      1009.0     12       A        NaN        60.0
2019-12-07      1010.0     12       D        6.0        85.0

In [5]:
df.interpolate(method='time')#student ID values filled according to date and time

<class 'ValueError'>: time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

In [6]:
#by using index method it is filling the value according to index value
df.interpolate(method='index')#its fill according to date value

         Date  Student ID  Class Section  Study hrs  Percentage
0  01-07-2019      1001.0     10       A   2.000000        50.0
1  02-07-2019      1002.0     10     NaN   2.500000        80.0
2  03-07-2019      1003.0     10     NaN   3.000000        60.0
3  06-07-2019      1004.0     11     NaN   0.000000        65.0
4  07-07-2019      1005.0     11       A   4.000000        70.0
5  08-07-2019      1006.0     11       D  10.000000        75.0
6  09-07-2019      1007.0     12       B   4.000000        80.0
7  10-07-2019      1008.0     12       C   4.666667        90.0
8  11-07-2019      1009.0     12       A   5.333333        60.0
9  12-07-2019      1010.0     12       D   6.000000        85.0

In [33]:
#Let's change the index first then check by using method function

In [46]:
df=pd.read_csv('student_10.csv',parse_dates=['Date'],index_col='Class')
df

            Date  Student ID Section  Study hrs  Percentage
Class
10    2019-01-07      1001.0       A        2.0        50.0
10    2019-02-07      1002.0     NaN        NaN        80.0
10    2019-03-07         NaN     NaN        3.0        60.0
11    2019-06-07         NaN     NaN        0.0         NaN
11    2019-07-07      1005.0       A        4.0         NaN
11    2019-08-07         NaN       D       10.0         NaN
12    2019-09-07      1007.0       B        4.0        80.0
12    2019-10-07      1008.0       C        NaN        90.0
12    2019-11-07      1009.0       A        NaN        60.0
12    2019-12-07      1010.0       D        6.0        85.0

In [7]:
df.interpolate(method= "index")

         Date  Student ID  Class Section  Study hrs  Percentage
0  01-07-2019      1001.0     10       A   2.000000        50.0
1  02-07-2019      1002.0     10     NaN   2.500000        80.0
2  03-07-2019      1003.0     10     NaN   3.000000        60.0
3  06-07-2019      1004.0     11     NaN   0.000000        65.0
4  07-07-2019      1005.0     11       A   4.000000        70.0
5  08-07-2019      1006.0     11       D  10.000000        75.0
6  09-07-2019      1007.0     12       B   4.000000        80.0
7  10-07-2019      1008.0     12       C   4.666667        90.0
8  11-07-2019      1009.0     12       A   5.333333        60.0
9  12-07-2019      1010.0     12       D   6.000000        85.0

In [41]:
#so according to index u can guess missing value

In [42]:
#nearest parameter

In [43]:
#filling the nan values with nearest value

In [10]:
df.interpolate(method='nearest')#we need to import module for this

<class 'ImportError'>: Missing optional dependency 'scipy'. nearest interpolation requires SciPy. Use pip or conda to install scipy.

In [11]:
df=pd.read_csv('student_10.csv',parse_dates=['Date'],index_col='Date')
df

            Student ID  Class Section  Study hrs  Percentage
Date
2019-01-07      1001.0     10       A        2.0        50.0
2019-02-07      1002.0     10     NaN        NaN        80.0
2019-03-07         NaN     10     NaN        3.0        60.0
2019-06-07         NaN     11     NaN        0.0         NaN
2019-07-07      1005.0     11       A        4.0         NaN
2019-08-07         NaN     11       D       10.0         NaN
2019-09-07      1007.0     12       B        4.0        80.0
2019-10-07      1008.0     12       C        NaN        90.0
2019-11-07      1009.0     12       A        NaN        60.0
2019-12-07      1010.0     12       D        6.0        85.0

In [14]:
df.interpolate(method='polynomial',order=1)

<class 'ImportError'>: Missing optional dependency 'scipy'. polynomial interpolation requires SciPy. Use pip or conda to install scipy.

In [15]:
df.interpolate(method='spline',order=1)

<class 'ImportError'>: Missing optional dependency 'scipy'. spline interpolation requires SciPy. Use pip or conda to install scipy.

In [16]:
#u can do all this in google colab later