#*****************PART 18*************************

# pandas concat

In [1]:
#To combine/join series ,dataframe and panel objects

In [2]:
import pandas as pd

In [2]:
sr1=pd.Series([0,1,2])
sr1

0    0
1    1
2    2
dtype: int64

In [3]:
sr2=pd.Series([3,4,5,6,7])
sr2

0    3
1    4
2    5
3    6
4    7
dtype: int64

In [6]:
pd.concat()

<class 'TypeError'>: concat() missing 1 required positional argument: 'objs'

In [7]:
"""pd.concat(
    objs: 'Iterable[NDFrame] | Mapping[Hashable, NDFrame]',
    axis: 'Axis' = 0,
    join: 'str' = 'outer',
    ignore_index: 'bool' = False,
    keys=None,
    levels=None,
    names=None,
    verify_integrity: 'bool' = False,
    sort: 'bool' = False,
    copy: 'bool' = True,
)""""

<class 'SyntaxError'>: unterminated string literal (detected at line 12) (<ipython-input-7-9855506c61ca>, line 12)

In [8]:
pd.concat([sr1,sr2])

0    0
1    1
2    2
0    3
1    4
2    5
dtype: int64

In [9]:
#we can concate two unequal series as well

In [4]:
pd.concat([sr1,sr2])

0    0
1    1
2    2
0    3
1    4
2    5
3    6
4    7
dtype: int64

In [12]:
#Let's concate 2 dataframes

In [3]:
df1=pd.DataFrame({'ID':[1,2,3,4],'Name':['A','B','C','D'],'Class':[5,6,7,8]})
df1

   ID Name  Class
0   1    A      5
1   2    B      6
2   3    C      7
3   4    D      8

In [4]:
df2=pd.DataFrame({'ID':[5,6,7,8],'Name':['E','F','G','H'],'Class':[9,10,11,12]})
df2

   ID Name  Class
0   5    E      9
1   6    F     10
2   7    G     11
3   8    H     12

In [5]:
pd.concat([df1,df2])

   ID Name  Class
0   1    A      5
1   2    B      6
2   3    C      7
3   4    D      8
0   5    E      9
1   6    F     10
2   7    G     11
3   8    H     12

In [6]:
pd.concat([df2,df1],axis=1)

   ID Name  Class  ID Name  Class
0   5    E      9   1    A      5
1   6    F     10   2    B      6
2   7    G     11   3    C      7
3   8    H     12   4    D      8

In [8]:
pd.concat([df1,df2],axis=0)

   ID Name  Class
0   1    A      5
1   2    B      6
2   3    C      7
3   4    D      8
0   5    E      9
1   6    F     10
2   7    G     11
3   8    H     12

In [10]:
pd.concat([df1,df2],axis=0,ignore_index=True)#index in systematic manner

   ID Name  Class
0   1    A      5
1   2    B      6
2   3    C      7
3   4    D      8
4   5    E      9
5   6    F     10
6   7    G     11
7   8    H     12

In [11]:
#**************PART 19********************

In [12]:
#we can concatenate multiple unequal dataframes

In [13]:
df1=pd.DataFrame({'ID':[1,2,3,4],'Name':['A','B','C','D'],'Class':[5,6,7,8]})
df1

   ID Name  Class
0   1    A      5
1   2    B      6
2   3    C      7
3   4    D      8

In [14]:
df2=pd.DataFrame({'ID':[3,4],'Name':['C','D'],'Class':[7,8]})
df2

   ID Name  Class
0   3    C      7
1   4    D      8

In [15]:
#let's concate this 2 dataframes

In [16]:
pd.concat([df1,df2])

   ID Name  Class
0   1    A      5
1   2    B      6
2   3    C      7
3   4    D      8
0   3    C      7
1   4    D      8

In [19]:
pd.concat([df1,df2],axis=1)

   ID Name  Class   ID Name  Class
0   1    A      5  3.0    C    7.0
1   2    B      6  4.0    D    8.0
2   3    C      7  NaN  NaN    NaN
3   4    D      8  NaN  NaN    NaN

In [20]:
#in column wise concatenation we just want to print the value which is actually present

In [21]:
#so will take ""outer"" parameter

In [23]:
pd.concat([df1,df2],axis=1,join='inner')#inner prints the common values only

   ID Name  Class  ID Name  Class
0   1    A      5   3    C      7
1   2    B      6   4    D      8

In [24]:
pd.concat([df1,df2],axis=1,join='outer')

   ID Name  Class   ID Name  Class
0   1    A      5  3.0    C    7.0
1   2    B      6  4.0    D    8.0
2   3    C      7  NaN  NaN    NaN
3   4    D      8  NaN  NaN    NaN

In [27]:
#pd.concat([df1,df2],axis=1,join_axes=[df1.index])#it's works like outer

In [28]:
#pd.concat([df1,df2],axis=1,join_axes=[df2.index])#it's works like inner

In [29]:
#27,28 parameter not supporting in this kernal for concat functions

In [30]:
df1

   ID Name  Class
0   1    A      5
1   2    B      6
2   3    C      7
3   4    D      8

In [31]:
df2

   ID Name  Class
0   3    C      7
1   4    D      8

In [32]:
df2=pd.DataFrame({'ID':[5,6,7,8],'Name':['E','F','G','H'],'Class':[9,10,11,12]})
df2

   ID Name  Class
0   5    E      9
1   6    F     10
2   7    G     11
3   8    H     12

In [34]:
pd.concat([df1,df2],keys=['df1','df2'])
#If multiple levels passed, should contain tuples. Construct
#hierarchical index using the passed keys as the outermost level

       ID Name  Class
df1 0   1    A      5
    1   2    B      6
    2   3    C      7
    3   4    D      8
df2 0   5    E      9
    1   6    F     10
    2   7    G     11
    3   8    H     12

In [37]:
pd.concat([df1,df2],axis=1,keys=['First df','Second df'])

  First df            Second df
        ID Name Class        ID Name Class
0        1    A     5         5    E     9
1        2    B     6         6    F    10
2        3    C     7         7    G    11
3        4    D     8         8    H    12

In [38]:
#If we add dataframe of different types of column name

In [39]:
df1=pd.DataFrame({'ID':[1,2,3,4],'Name':['A','B','C','D'],'Class':[5,6,7,8]})
df1

   ID Name  Class
0   1    A      5
1   2    B      6
2   3    C      7
3   4    D      8

In [40]:
df2=pd.DataFrame({'Marks':[40,63,91,34]})
df2

   Marks
0     40
1     63
2     91
3     34

In [41]:
#let's concate this 2 dataframe

In [43]:
pd.concat([df1,df2])

    ID Name  Class  Marks
0  1.0    A    5.0    NaN
1  2.0    B    6.0    NaN
2  3.0    C    7.0    NaN
3  4.0    D    8.0    NaN
0  NaN  NaN    NaN   40.0
1  NaN  NaN    NaN   63.0
2  NaN  NaN    NaN   91.0
3  NaN  NaN    NaN   34.0

# ****************PART 20*******************

### join() method ###

In [45]:
#by using this we can join 2 dataframes having different index

In [48]:
df1=pd.DataFrame({'A':[1,2,3],'B':[10,20,30]},index=['a','b','c'])
df2=pd.DataFrame({'C':[4,5,6],'D':[40,50,60]})
display(df1,df2)

   A   B
a  1  10
b  2  20
c  3  30

   C   D
0  4  40
1  5  50
2  6  60

In [50]:
df1.join(df2)#having different index

   A   B   C   D
a  1  10 NaN NaN
b  2  20 NaN NaN
c  3  30 NaN NaN

In [51]:
df1=pd.DataFrame({'A':[1,2,3],'B':[10,20,30]},index=['a','b','c'])
df2=pd.DataFrame({'C':[4,5,6],'D':[40,50,60]},index=['a','b','c'])

In [52]:
df1.join(df2)

   A   B  C   D
a  1  10  4  40
b  2  20  5  50
c  3  30  6  60

In [53]:
#unequal values in dataframes

In [54]:
df1=pd.DataFrame({'A':[1,2,3],'B':[10,20,30]},index=['a','b','c'])
df2=pd.DataFrame({'C':[4,5],'D':[40,50]},index=['a','b'])

In [58]:
df1.join(df2)#according to dataframe 1 it is joining(how =left)

   A   B    C     D
a  1  10  4.0  40.0
b  2  20  5.0  50.0
c  3  30  NaN   NaN

df1.join(df2)#by default it is taking how =left

In [57]:
df1.join(df2,how='inner')#according to dataframe 2 it is joining

   A   B  C   D
a  1  10  4  40
b  2  20  5  50

In [60]:
df1.join(df2,how='outer')

   A   B    C     D
a  1  10  4.0  40.0
b  2  20  5.0  50.0
c  3  30  NaN   NaN

In [61]:
#in both dataframe having different column names --if it's having same column name then

In [62]:
df1=pd.DataFrame({'A':[1,2,3],'B':[10,20,30]},index=['a','b','c'])
df2=pd.DataFrame({'A':[4,5],'D':[40,50]},index=['a','b'])

In [63]:
df1.join(df2)

<class 'ValueError'>: columns overlap but no suffix specified: Index(['A'], dtype='object')

items_overlap_with_suffix

In [64]:
#SO we need to change it's name done by lsuffix and rsuffix

In [65]:
df1.join(df2,lsuffix='_l')

   A_l   B    A     D
a    1  10  4.0  40.0
b    2  20  5.0  50.0
c    3  30  NaN   NaN

In [66]:
df1.join(df2,rsuffix='_l')

   A   B  A_l     D
a  1  10  4.0  40.0
b  2  20  5.0  50.0
c  3  30  NaN   NaN